<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cliente</title>
</head>
<body>
    <%-include('cabecalhoCliente.ejs')%>
    <form method="post">
        <label for="CLI_CONTATO">Contato</label>
        <input type="text" name="CLI_CONTATO" id="CLI_CONTATO" required value="<%= cliente.CLI_CONTATO %>"><br>
        <label for="CLI_NOME">Nome</label>
        <input type="text" name="CLI_NOME" id="CLI_NOME" required value="<%= cliente.CLI_NOME %>"><br>
        <label for="CLI_CPF">CPF</label>
        <input type="text" name="CLI_CPF" id="CLI_CPF" required value="<%= cliente.CLI_CPF %>"><br>
        <label for="CLI_ENDERECO">Endereço</label>
        <input type="text" name="CLI_ENDERECO" id="CLI_ENDERECO" required value="<%= cliente.CLI_ENDERECO %>"><br>
        <label for="CLI_NASCIMENTO">Data de NASCIMENTO</label>
        <input type="date" name="CLI_NASCIMENTO" id="CLI_NASCIMENTO" required value="<%= cliente.CLI_NASCIMENTO %>"><br>
        <label for="CLI_EMAIL">E-mail</label>
        <input type="text" name="CLI_EMAIL" id="CLI_EMAIL" required value="<%= cliente.CLI_EMAIL %>"><br>
        <input type="submit" value="Salvar Alterações">
    </form>
</body>
<%-include("../rodape.ejs")%>
</html>
