<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem de Clientes</title>
</head>
<body>
    <%-include('cabecalhoCliente.ejs')%>
    <table>
        <tr>
            <th>Contato</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Data de Nascimento</th>
            <th>Email</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>

        <% clientes.forEach(function(cliente) { %>
            <tr>
                <td><%= cliente.CLI_NOME %></td>   
                <td><%= cliente.CLI_CONTATO %></td>
                <td><%= cliente.CLI_CPF %></td>
                <td><%= cliente.CLI_ENDERECO %></td>
                <td><%= cliente.CLI_NASCIMENTO %></td>
                <td><%= cliente.CLI_EMAIL %></td>
                <td><a href="/cliente/edit/<%= cliente._id %>">Editar</a></td>
                <td><a href="/cliente/del/<%= cliente._id %>">Excluir</a></td>
            </tr>
        <% }); %>
    </table>
</body>
<%-include("../rodape.ejs")%>
</html>
