<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Reserva</title>
</head>
<body>   
    <%- include('cabecalhoReserva.ejs') %>
    <form method="post">   
        <label for="RE_NPESSOAS">Quantidade de Pessoas</label>
        <input type="number" name="RE_NPESSOAS" id="RE_NPESSOAS" required value="<%= reserva.RE_NPESSOAS %>"><br>
        <label for="RE_NUMERO">Número</label>
        <input type="number" name="RE_NUMERO" id="RE_NUMERO" required  value="<%= reserva.RE_NUMERO %>"><br>
        <label for="RE_PRECO">Preço</label>
        <input type="text" name="RE_PRECO" id="RE_PRECO" required value="<%= reserva.RE_PRECO %>"><br>
        <label for="RE_CHECKIN">Check-in</label>
        <input type="date" name="RE_CHECKIN" id="RE_CHECKIN" required  value="<%= reserva.RE_CHECKIN.toISOString().split('T')[0] %>"><br>
        <label for="RE_SERVICO_ESPECIAL">Serviço Especial</label>
        <input type="text" name="RE_SERVICO_ESPECIAL" id="RE_SERVICO_ESPECIAL" required value="<%= reserva.RE_SERVICO_ESPECIAL %>"><br>
        <input type="submit" value="Salvar Alterações">
    </form>
    <%-include("../rodape.ejs")%>
</body>
</html>
